// color variables
$main-blue: #899dc8;
$light-blue: #C4D7E0;
$yellow:#efe8ca;
$light-grey: #cfcfcf;
$bright-font-color: #ededed;
$dark-font-color: #727272;
$background-color-white: #eaeaea;

// font variables
$font-size-big: "32px";
$font-size-medium: "15px";
$font-size-small: "10px";


