@import "global.scss";

#wrap {
  position: relative;
  overflow-x: hidden;
}
  
#main_container {
  width: 100vw;
  height: 2500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color-white;
}

.main_contents {
  width: 100%;
  height: 100%;
  background-color: $background-color-white;
  // margin: 0 auto;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

#section01 {
  width: 700px;
  height: 950px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 0 auto;
  align-items: center;
  justify-content: center;

  .section01-title {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: $dark-font-color;
    text-align: center;
    margin: 35px 0 15px 0;
  }

  .text_box {
    margin: 15px;
    line-height: 140%;
    max-height: 250px;
  }

  .arrow-container {
    width: 20px;
    height: 20px;

    .arrow {
      font-size: 30px;
      color: $--gray-color;
      cursor: pointer;
    }
  }
  
}

#sentences_container {
  width: 650px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.sentence_box {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  text-align: center;
  word-break: keep-all;
  word-wrap: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;

  .author {
    font-weight: 700;
    margin: 15px;
  }
}

#main_box {
  font-size: $font-size-big;
  background-color: $main-blue;
  color: $bright-font-color;
}

#second_box {
  background-color: $light-blue;
  color: $main-blue;
}

#third_box {
  background-color: $yellow;
  color: $dark-font-color;
}

#forth_box {
  background-color: $--gray-color;
  color: $bright-font-color;
}

#section02 {
  width: 100%;
  height: 950px;
  background-color: $background-color-lightblue;  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  #images_container {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .section02-title {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: $dark-font-color;
    text-align: center;
    margin: 30px 0 40px 0;
  }


  .image_wrapper {
    position: relative;
    width: 300px;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50, 50);
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
      border-radius: 10px;
      border: 1px solid $--gray-color;
    }
  }
}

#first_image, #second_image, #third_image, #fourth_image {
  margin: 10px;
}

#section03 {
  width: 100%;
  height: 950px;
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #section03-title {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: $dark-font-color;
    text-align: center;
  }

  #book_reco {
    width: 300px;
    height: 550px;
    // background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    img {
      width: auto; 
      height: auto;
      max-width: 250px;
      object-fit: cover;
      margin-top: 15px;
    }

    .book_name-container {
      margin: 10px 0;

      .book_name {
        font-weight: 600;
        font-size: 18px;
        margin: 10px 0;
      }

      .book_author {
        font-size: 15px;
      }
    }
  }
}
  
@media all and (max-width: 1279px) {

}
@media all and (max-width: 767px) {


}