@import "global.scss";

#main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300;
    background-color: $background-color-white;
    overflow: overlay;
    padding: 70px 0;

    .main_contents {
        width: 60%;
        height: 70%;
        border:1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title_container {
            width: 98%;
            height: 10%;
            border: 1px solid black;
            text-align: left;

            .title {
                font-size: 20px;
                line-height: 20px;
            }
        }

        .sentence_content {
            width: 98%;
            height: 45%;
            border: 1px solid black;
        }

        .free_talk {
            width: 98%;
            height: 42%;
            border: 1px solid black;
        }
    }

    .comment_container {
        width: 60%;
        min-height: 300px;
        border: 1px solid black; 
    }
}